#nav-bar{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
}



#video{
    margin-top: 200px;
}
#form{
    text-align: center;
}


h1{
    text-align: center;
}

p{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    h1 {
        padding: 0 50px;
        text-align: right;
    }
  }